# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
.idea/

# the rest
.swp

prettifier.py
/module_02_linux/materials/testing_file.py
/module_04_flask/materials/get_requests_test_file.py
/module_04_flask/materials/flask_post_test_file.py
/module_04_flask/materials/flask_wtforms_test_file.py
/module_04_flask/materials/test_wtforms_test_file.py
/module_06_debugging_begin/materials/bank.py

/module_07_logging_part_2/practice/practice2.py
/module_07_logging_part_2/practice/practice3.py
/module_07_logging_part_2/practice/practice3_part2.py
/module_07_logging_part_2/practice/practice4.py
/module_11_multitasking/materials/lock/threading_synchronization_semaphore.py
/module_12_multitasking_2/practice/practice2.py
/module_12_multitasking_2/practice/practice3.py
/module_13_db2/practice/02_01_practice.py
/module_14_mvc/homework/table_books.db
/module_14_mvc/materials/mvc_with_flask/table_books.db
/module_15_networking_basics/homework/check_file.py
/module_17_rest_api/test_file_17m.py
/module_18_documentation/homework/hw1/table_books.db
/module_19_db4/practice/practice2.sql
/module_21_orm_2/homework/check_file.csv
/module_22_celery/homework/blur_img/
/module_22_celery/homework/img/
/module_22_celery/homework/blurred_images.zip
/module_25_asynchronous_programming/materials/async_cats/testfile.py
/module_25_asynchronous_programming/homework/hw_1/cats/
/module_25_asynchronous_programming/homework/hw_3/testfile.py
