{% extends "base.html" %}

{% block content %}
<div class="form-style-10">
    <h1>Add new book!<span>Feel the fields and and new books to the DB!</span></h1>
    <form action="/books/form" method="post">
        {{ form.hidden_tag() }}  <!-- Добавляем CSRF-токен -->

        <div class="section"><span>1</span>Book title</div>
        <div class="inner-wrap">
            <label>Book title {{ form.book_title(size=32) }}</label>
            {% for error in form.book_title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="section"><span>2</span>Author full name</div>
        <div class="inner-wrap">
             <label>Author full name {{ form.author_name(size=32) }}</label>
             {% for error in form.author_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="button-section">
            {{ form.submit() }}  <!-- Используем кнопку отправки формы -->
        </div>
    </form>
</div>
{% endblock %}